*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

button {
  background: none;
  border: none;
  outline: none;
  height: 22px;
  padding: 0 5px;
}

.videoContainer {
  margin: 0 auto;
  display: block;
  width: 760px;
  height: 440px;
  position: relative !important;
  overflow: hidden;
}

#video {
  width: 100%;
}

/*************************
Video Controls
*************************/

.videoContainer:hover #videoControls {
  top: 370px;
}

#videoControls {
  width: 100%;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to top, rgba(0,0,0,0.75), rgba(0,0,0,0));
  padding: 0 1em 15px;
  position: absolute;
  left: 0;
  top: 410px;
  transition: top 0.5s ease-in-out;
}

.progress {
  flex-grow: 10;
  flex-basis: 100%;
  padding-bottom: 15px;
  position: relative;
}

#progressBar,
#bufferBar {
  width: 100%;
  cursor:  pointer;
  -webkit-appearance: none;
  appearance: none;
  height: 7px;
}

#progressBar {
  position: relative;
  z-index: 2;
}

#bufferBar {
  position: absolute;
  top: 10px;
  left: 0;
  opacity: 0.5;
  z-index: 1;
}

/* Style progress bar for Chrome/Safari/Opera */
progress[value]::-webkit-progress-bar {
  background-color: rgba(238, 238, 238, 0.4);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: #FF9900;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value]::-webkit-buffer-bar {
  background-color: rgba(238, 238, 238, 0.4);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]#bufferBar::-webkit-progress-value {
  background-color: white;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

/* Style progress bar for Firefox */
#progressBar::-moz-progress-bar {
  background-color: #eee;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#progressBar::-moz-progress-bar {
  background-color: #FF9900;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

#bufferBar::-moz-progress-bar {
  background-color: rgba(238,238,238,0.5);
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#bufferBar::-moz-progress-bar {
  background-color: white;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.play-time {
  flex-grow: 3;
  display: flex;
  align-items: center;
}

#playPauseBtn,
.time,
.volume,
fullscreenBtn {
  display: inline-block;
}

.time {
  font-size: 0.85em;
  color: white;
  margin-left: 15px;
}

.speed,
#muteBtn,
#closedCaptioning {
  margin-right: 15px;
}

.speed {
  display: inline-block;
  position: relative;
}

#playbackSpeed {
  display: none;
  position: absolute;
  bottom: 30px;
  left: -7px;
  font-size: 0.75em;
  font-weight: lighter;
  line-height: 0.75em;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.1em 0.75em;
  border: 0.5px solid black;
}

#playbackSpeed p {
  color: white;
  text-align: center;
  border-bottom: 0.25px solid rgba(255,255,255, 0.5);
  padding-bottom: 0.65em;
  cursor: pointer;
}

#playbackSpeed #speed5 {
  border-bottom: none;
  padding-bottom: 0;
}

.selected,
#playbackSpeed p:hover {
  font-weight: bold;
}

.volume {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.transcriptContainer {
  margin: 15px auto 0;
  display: block;
  width: 760px;
  font-size: 1em;
  line-height: 1.4em;
  color: #3d3d3d;
  font-weight: lighter;
}

#transcript span:hover {
  color: black;
  font-weight: normal;
  cursor: pointer;
}

.highlight {
  color: #FF9900;
}

#transcript span.highlight:hover{
  color: #FF9900;
}

/*************************
Media Queries
*************************/
